:root{
    background-color: rgb(100, 237, 214);
}



h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:orangered;
    font-style: italic;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

button {
    display: list-item ;
    background-color:burlywood ;
}

#startpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(179, 173, 170);
text-align: center;
}


#highScoreContainer {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#endGameBtns {
    display: none;
}
